{% extends "base.html" %}
{% set page_title = "Make friends, create your rooms, and have fun!" %}
{% set body_type = "frontpage" %}
{% block content %}
	<div id="jumbotron">
		<div class="regular-container">
			<div id="jumbotron-image"></div>
			<div id="jumbotron-top">
				<a href="/" class="logo">rev<font color="#B7D6F5">pro</font></a>
				<span class="signup-links" onclick="m.opendialog('login-dialog')">
					{{ g.l['index_jumbotron_1'] }} <i class="fi-torso"></i>
				</span>
			</div>
			<div id="jumbotron-info">
				<h1>{{ g.l['index_jumbotron_2'] }}</h1>
				<h1>{{ g.l['index_jumbotron_3'] }}</h1>
				<p>{{ g.l['index_jumbotron_4'] }}</p>
				<p>{{ g.l['index_jumbotron_5'] }}</p>
				<a class="button green" href="/user/signup" style="float:left; margin-top:20px;">
					<span class="ribbon">{{ g.l['index_jumbotron_6'] }}</span>
					{{ g.l['index_jumbotron_7'] }}
				</a>
				<span style="margin-left:10px;margin-top:30px;float:left;">
					<i style="float:left">{{ g.l['index_jumbotron_8'] }}</i>
					<a style="margin-left:10px;margin-top:-10px" class="button facebook-connect">
						<i class="fi-social-facebook" style="margin-right:10px"></i>{{ g.l['index_jumbotron_9'] }}
					</a>
				</span>
				
			</div>
		</div>
	</div>
	<div id="content">
		<div class="regular-container">
			<section style="width:56.5%">
				<h1>
				<i class="fi-torsos-all"></i> {{ g.l['index_content_1'] }}
				</h1>
				<ul class="articles">
					<li>
						<img src="/static/img/widgets/articles/thumbs/staff.png"></img>
						<span class="article-info">
							<h1>The Staff are good people!</h1>
							<p>Published by <a href="#">Nominal</a></p>
						</span>
					</li>
					<li>
						<img src="/static/img/widgets/articles/thumbs/safety.png"></img>
						<span class="article-info">
							<h1>A Safer Community</h1>
							<p>Published by <a href="#">Nominal</a></p>
						</span>
					</li>
					<li>
						<img src="/static/img/widgets/articles/thumbs/breaking.png"></img>
						<span class="article-info">
							<h1>Habbo Is Getting Weird</h1>
							<p>Published by <a href="#">Nominal</a></p>
						</span>
					</li>
				</ul>
			</section>
			<section style="width:39%">
				<h1>
				<i class="fi-social-twitter"></i> {{ g.l['index_content_2'] }}
				</h1>
			</section>
		</div>
	</div>
	<div id="login-dialog" class="dialog">
		<h1>{{ g.l['index_dialog_1'] }}</h1>
		<div id="login-error" class="notice red dynamic"></div>
		<form name="login_form">
			<div class="field">
				<span>{{ g.l['index_dialog_2'] }}</span>
				<input type="text" name="username">
			</div>
			<div class="field">
				<span>{{ g.l['index_dialog_3'] }}</span>
				<input type="password" name="password">
			</div>
			<button class="button blue small" onclick="event.preventDefault(); m.login(this.form.elements['username'], this.form.elements['password'])">{{ g.l['index_dialog_4'] }}</button>
			<div class="signup-link">{{ g.l['index_dialog_5'] }} <a href="/user/signup">{{ g.l['index_dialog_6'] }}</a></div>
		</form>
	</div>
{% endblock %}