@import url(reset.css);
@import url(fonts.css);

html {
	font-family: 'Roboto';
}

body {
	background-color: #F4F4F4;
	padding-bottom:284px;

}

html, body {
	height:100%;
}

#wrapper {
	height:100%;
}

.regular-container {
	width: 900px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	height: 100%;
}

body #jumbotron {
	overflow: hidden;
	color: #FFFFFF;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	background: #1a3e62;
	background: -moz-linear-gradient(top, hsl(210, 58%, 24%) 0%, hsl(209, 57%, 28%) 100%, hsl(208, 73%, 46%) 100%, hsl(212, 56%, 33%) 100%);
	background: -webkit-linear-gradient(top, hsl(210, 58%, 24%) 0%, hsl(209, 57%, 28%) 100%, hsl(208, 73%, 46%) 100%, hsl(212, 56%, 33%) 100%);
	background: linear-gradient(to bottom, hsl(210, 58%, 24%) 0%, hsl(209, 57%, 28%) 100%, hsl(208, 73%, 46%) 100%, hsl(212, 56%, 33%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a3e62', endColorstr='#255182', GradientType=0);
}

body #jumbotron #jumbotron-image {
	position: absolute;
	background-image: url(/static/img/frontpage/habbo_hotel.png);
	width: 349px;
	height: 340px;
	right: 0;
	bottom: 0;
}

body #jumbotron-top {
	padding: 25px;
	padding-left: 0;
	padding-right: 0;
}

body #jumbotron-top .logo {
	font-size: 34px;
	display: inline-block;
	font-family: 'Roboto Condensed';
	font-weight: 300;
}

body #jumbotron-top .signup-links {
	float: right;
	font-family: 'Roboto Condensed';
	cursor:pointer;
}

body #jumbotron-top .signup-links i {
	margin-left: 5px;
}

body #jumbotron-info {
	padding-top: 20px;
	padding-bottom: 40px;
	overflow: hidden;
}

body #jumbotron-info h1 {
	font-size: 26px;
	font-weight: 500;
	margin-bottom: 5px;
}

body #jumbotron-info p {
	color: #B7D6F5;
	margin-top: 20px;
	max-width: 350px;
	font-size: 18px;
	line-height: 25px;
}

.button .ribbon {
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	width: 40px;
	padding: 1px;
	color: #000000;
	background-color: #F0E500;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 5px;
	font-size: 9px;
	text-align: center;
	font-weight: bold;
	right: -10px;
}

.button .ribbon.red {
	background-color: #BB0F05;
	color: #FFFFFF;
}

.button {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	padding: 12px 20px 12px 20px;
	display: inline-block;
	position: relative;
	text-align: center;
	text-transform:uppercase;
	border-radius: 5px;
	cursor: pointer;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.button.small {
	font-size:14px;
	padding: 10px 14px 10px 14px;
}

.button.blue {
	color:#FFF;
	border-color: hsla(214, 60%, 16%, 1);
	background-color: hsla(221, 45%, 30%, 1); /* fallback color */
	background: -moz-linear-gradient(top, hsla(221, 44%, 41%, 1), hsla(221, 45%, 30%, 1));
	background: -ms-linear-gradient(top, hsla(221, 44%, 41%, 1), hsla(221, 45%, 30%, 1));
	background: -webkit-linear-gradient(top, hsla(221, 44%, 41%, 1), hsla(221, 45%, 30%, 1));
}
.button:active {
	top: 2px;
}

.button.green {
	border-color: hsla(109, 97%, 15%, 1);
	background: hsla(85, 100%, 39%, 1); /* Old browsers */
	background: -moz-linear-gradient(top, hsl(85, 100%, 39%) 1%, hsl(100, 82%, 24%) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, hsl(85, 100%, 39%) 1%, hsl(100, 82%, 24%) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, hsl(85, 100%, 39%) 1%, hsl(100, 82%, 24%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#74c800', endColorstr='#2c700b', GradientType=0); /* IE6-9 */
}

#content {
	height: 100%;
	width: 100%;
	display: block;
	margin-top: 40px;
	overflow: hidden;
}

#content section {
	width: 47.7%;
	display: inline-block;
	padding: 10px;
	float: left;
	color: #959595;
}

#content section > h1 {
	padding-bottom: 8px;
	margin-bottom: 20px;
	border-bottom: 2px solid hsla(0, 0%, 80%, 1);
	font-weight: 500;
	font-size: 17px;
}

ul.articles {
}

ul.articles li:first-child {
	padding-top: 0px;
}

ul.articles li:last-child {
	border-bottom: 0;
}

ul.articles li {
	cursor: pointer;
	display: block;
	overflow: hidden;
	border-bottom: 1px dashed hsla(0, 0%, 80%, 1);
	padding-bottom: 18px;
	padding-top: 18px;
}

ul.articles li:active {
	position: relative;
	top: 2px;
}

ul.articles li .article-info {
	float: left;
	margin-top: 5px;
}

ul.articles li h1 {
	font-family: 'Roboto Condensed';
	text-transform: uppercase;
	color: hsla(0, 0%, 0%, 0.5);
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 5px;
}

ul.articles li p {
	font-size: 15px;
}

ul.articles li img {
	float: left;
	height: 60px;
	width: 60px;
	margin-right: 15px;
	display: inline-block;
	box-shadow: 3px 3px hsla(0, 0%, 0%, 0.3);
}

footer {
	display: block;
	width: 100%;
	background-color: hsla(0, 0%, 89%, 1);
	border-top: 2px solid hsla(0, 0%, 83%, 1);
	color: #959595;
	padding-top: 20px;
	padding-bottom: 20px;
}

footer section {
	display: block;
	width: 100%;
	overflow: hidden;
	font-size: 16px;
	margin-bottom: 30px;
	font-family: 'Roboto Condensed';
}

footer section p {
	margin-bottom: 5px;
}

footer section.top {
	font-weight: bold;
}

footer section .footer-links {
	float: left;
}

footer section .footer-languages {
	float: right;
}

footer section .footer-languages a.active {
	color:#1E486E;
}

.button.facebook-connect {
	border-color: hsla(214, 60%, 16%, 1);
	background-color: hsla(221, 45%, 30%, 1); /* fallback color */
	background: -moz-linear-gradient(top, hsla(221, 44%, 41%, 1), hsla(221, 45%, 30%, 1));
	background: -ms-linear-gradient(top, hsla(221, 44%, 41%, 1), hsla(221, 45%, 30%, 1));
	background: -webkit-linear-gradient(top, hsla(221, 44%, 41%, 1), hsla(221, 45%, 30%, 1));
}

#overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
	cursor:pointer;
	display:none;
}

.dialog {
	position: fixed; /* or absolute */
	top: 50%;
	left: 50%;
	z-index: 2;
	width: 320px;
	background: #FFFFFF;
	margin-top: -170px;
    margin-left: -160px;
    border-radius:18px;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3); 
    padding:25px;
    display:none;
}

body.not-found h1 {
	font-size:26px;
	color:#1B4167;
	margin-bottom:20px;
}

body.not-found p {

}

.dialog form {

}

.dialog .field {
	display:block;
	margin-bottom:15px;
}

.dialog .field input {
	background-color:#FBFBFB;
	padding:10px;
	display:block;
	width:100%;
	border:1px solid #F4F4F4;
}

.dialog h1 {
	padding-top:15px;
	font-size:24px;
	display:block;
	margin-bottom:20px;
	color:#2C4375;
}

.dialog .signup-link {
	margin-top:35px;
	font-size:14px;
}
.dialog span {
	font-family:'Roboto Condensed';
	display:block;
	margin-bottom:5px;
}

.notice {
	padding:10px;
	display:block;
	font-size:14px;
	background-color:#FDCE09;
	color:#FFF;
	margin-bottom:20px;
	border-radius:999px;
	text-align:center;
}

.notice.dynamic {
	display:none;
}

.notice.red {
	background-color:#FB7567;
}